name: Github action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hello:
    runs_on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "hello"
