name: Github action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GO_VERSION: '1.25.4'

jobs:
  hello:
    name: hello
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "hello"

  build:
    name: checkout
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{env.GO_VERSION}}
          cache: 'true'
          cache-dependency-path: go.sum

      - name: Download dependencies
        run: go mod download

      - name: Verify dependencies
        run: go mod verify

      - name: Build binary
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build \
            -ldflags="-w -s -X main.version=${{ github.sha }} -X main.buildTime=$(data -u +%Y-%m-%dT%H:%M:%SZ)" \
            -o main main.go